@media screen and (max-width: 1818px) {
  
}
@media screen and (max-width: 1512px) {
  .event_card:nth-child(2) {
    border-right: none;
}

.event_card:nth-child(3) {
  border-bottom: none;
}

.event_card:nth-child(4) {
  border-right: none;
}
}
@media screen and (max-width: 880px) {
  .container {
    max-width: 610px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 520px;
  }

  .luxury_all img {
    width: 55px;
  }

  .first_u {
    margin-top: 9px;
  }

  @-webkit-keyframes first_u {
    0% {
      left: 0px;
      top: 0px;
    }
    50% {
      left: 100px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }

  .second_u {
    margin-top: 9px;
  }

  @-webkit-keyframes second_u {
    0% {
      right: 0px;
      top: 0px;
    }
    50% {
      right: 100px;
      top: 0px;
    }
    100% {
      right: 0px;
      top: 0px;
    }
  }

  .new_horizons {
    font-size: 14px;
  }

  .twentyfive img {
    width: 300px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 200px;
    margin-top: -60px;
    font-size: 10px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    max-width: 100%;
  }
}


/*aelina8*/
@media(max-width:1816px){
  .magazine {
    width: 900px;
  }
   }
   @media (max-width: 1450px){
  .up_to_off .info{
    width: 1025px;
  }
}
@media (max-width: 1300px){
  .magazine{
    width: 700px;
  }
  .marketplace{
    width: 700px;
  }
}
@media (max-width: 944px){
  .magazine{
    width: 600px;
  }
  .marketplace{
    width: 700px;
  }
}
   @media (max-width: 1400px){
  .up_to_off .info{
    width: 1000px;

  }
}
@media (max-width: 1000px){
  .up_to_off .info{
    width: 880px;
  }
  .marketplace{
    margin-bottom: 20px;
  }
}
@media (max-width: 865px){
  .up_to_off .info{
    width: 750px;
  }
}
@media (max-width: 480px){
  .up_to_off .info{
    width: 700px;
  }
  .magazine{
    width: 700px; ;
  }
}
@media (max-width: 360px){
  .up_to_off .info{
    width: 650px;
  }
}
@media (max-width: 1233px){
  .magazine{
    margin-left: 30px;
    width: 600px;
  }
  .marketplace{
    margin-left: 30px;
    width: 700px;
    margin-bottom: 20px;
  
  }
}