html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  background: radial-gradient(rgb(47 47 50), rgb(21 20 20));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1818px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #f9f9fa;
  text-decoration: none;
}
p {
  color: #707176;
  text-align: center;
  font-family: Inter;
  font-size: 25.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.282px;
}
li {
  list-style: none;
}
button,
label {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.dn {
  display: none;
}
.color {
  color: #f9f9fa;
}
.dib {
  display: inline-block;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first_u {
  margin-top: 7px;
  position: relative;
  -webkit-animation-name: first_u;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: first_u;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes first_u {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.second_u {
  margin-top: 7px;
  position: relative;
  -webkit-animation-name: second_u;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-name: second_u;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes second_u {
  0% {
    right: 0px;
    top: 0px;
  }
  50% {
    right: 200px;
    top: 0px;
  }
  100% {
    right: 0px;
    top: 0px;
  }
}

.luxury_animation {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 400px;
}

.new_horizons {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 29.713px */
  letter-spacing: -0.218px;
  margin-top: 7px;
}

.twentyfive {
  text-align: center;
  margin-top: 60px;
}
.links{
 
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  width: 500px;
  margin-top: -60px;
  margin-left: 460px;
  font-size: 20px;

}




